{% extends 'main.html' %}

{% block content %}
    <div class="form-wrapper">
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}

                <p>

                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.help_text %}

                        <small style="color: black;"> {{ field.help_text }} </small>

                    {% endif %}

                    {% for error in field.errors %}

                        <p style="color: red;"> {{ error }} </p>

                    {% endfor %}

                </p>

            {% endfor %}
            <button class="btn btn-outline-primary" type="submit">Create Room</button>
        </form>
    </div>
{% endblock %}