{% extends 'main.html' %}

{% load static %}

{% block content %}
    <div id="rooms" class="nav justify-content-center">
        <ul>
            {% for room in rooms %}
                <li>
                    <p class="font-weight-bold">
                        {{room.name}} <a class="btn btn-success" href="{% url 'join_chat_view' room.code %}">Join</a>
                        <button id="{{room.code}}" class="btn btn-info">Copy Code</button>
                        <script>
                            var btnCopy = document.querySelector('#{{room.code}}');
                            btnCopy.addEventListener('click', () => {
                                var copyText = document.createElement('textarea');
                                document.body.appendChild(copyText);
                                copyText.innerHTML = '{{room.code}}';

                                /* Select the text field */
                                copyText.select();
                                copyText.setSelectionRange(0, 99999); /* For mobile devices */

                                /* Copy the text inside the text field */
                                document.execCommand("copy");
                                document.body.removeChild(copyText);
                            });
                        </script>
                    </p>
                </li>
            {% endfor %}
        </ul>
        <!-- <ul>
            <li><p class="font-weight-bold">Room 1 <a class="btn btn-success">Join</a></p></li>
            <li><p class="font-weight-bold">Room 2 <a class="btn btn-success">Join</a></p></li>
        </ul> -->
    </div>
    <div class="nav justify-content-center">
        <a class="btn btn-success" href="{% url 'room_creation_view' %}">Create New Room</a>
    </div>
{% endblock %}