{% extends 'main.html' %}

{% block content %}
    <div class="nav justify-content-center">
        <div class="card" style="width: 25rem;">
            <img src="{{ user.image_url }}" class="card-img-top" width="120">

            <div class="card-body">
                <h2>
                    <p class="card-title">{{user.name}}</p>
                    <p class="font-weight-lighter">
                        {% if user.gender == 1 %}
                            Male
                        {% elif user.gender == 2 %}
                            Female
                        {% endif %}
                    </p>
                    <p class="font-weight-lighter">Bio: {{user.bio}}</p>
                </h2>
            </div>
            {% if display_btn_update %}
                <a class="btn btn-warning" href="{% url 'user_update_view' %}">Update</a>
            {% endif %}
        </div>
    </div>
    <div class="nav justify-content-center">
        <a class="btn btn-success" href="{% url 'room_list_view' %}">My Rooms</a>
    </div>
    <div class="nav justify-content-center">
        <a class="btn btn-success" href="{% url 'select_room_view' %}">Join Room</a>
    </div>
{% endblock %}