{% extends 'main.html' %}

{% block content %}
    <div class="form-wrapper">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}

                <p>

                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.help_text %}

                        <small style="color: black;"> {{ field.help_text }} </small>

                    {% endif %}

                    {% for error in field.errors %}

                        <p style="color: red;"> {{ error }} </p>

                    {% endfor %}

                </p>

            {% endfor %}
            {% block create_or_update %}
                <button class="btn btn-outline-primary" type="submit">Register</button>
                <!--      <input type="submit" value="Register">-->
                <p>
                    Already have an account?
                    <a href="{% url 'login_view' %}">Sign in</a>.
                </p>
            {% endblock %}
        </form>
    </div>
{% endblock %}